
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand navbarBrand" href="#">Noxe</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
           
            <li class="nav-item">
                <a *ngIf="isLogin" class="nav-link" routerLink="home" routerLinkActive="test">Home</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isLogin" class="nav-link"  routerLink="movie" routerLinkActive="test">Movies</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isLogin" class="nav-link"  routerLink="tv" routerLinkActive="test">TVShow</a>
            </li>

            <li class="nav-item">
                <a *ngIf="isLogin" class="nav-link"   routerLink="about" routerLinkActive="test">About</a>
            </li>
            <li class="nav-item">
                <a *ngIf="isLogin" class="nav-link"  routerLink="network" routerLinkActive="test" >Networks</a>
            </li>

            

           
        </ul>
        <div class="form-inline ml-auto my-2 my-lg-0">
            
            <i class="fab fa-facebook text-white px-2"></i>
            <i class="fab fa-twitter text-white px-2"></i>
            <i class="fab fa-instagram text-white px-2"></i>

           
                <a  *ngIf="!isLogin" class="nav-link"  routerLink="register" routerLinkActive="test" >Register</a>
                <a   *ngIf="!isLogin" class="nav-link"  routerLink="login" routerLinkActive="test" >Login</a>
                <a   *ngIf="isLogin" class="nav-link" (click)="logout()" >Logout</a>
            
       
        </div>
    </div>
</nav>





