/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&display=swap');


$bgColor:#131722;
$lightBgColor:#24baef;
$bgTransparent:rgba(36,186,239,.6) ;
$fontColor:#fff;
$borderColor:#a8a8a83d;
$borderHeight:1px;
$secondFontColor:#949cb0;

body
{
    background-color: $bgColor;
    color:$fontColor;
    font-family: 'Montserrat Alternates', sans-serif;
}


.brd
{
    height: $borderHeight;
    background-color: $borderColor ;
}

.vote
{
    top:0;
    right: 0;
    background-color: $lightBgColor;
}

.test
{
    color: white !important;
}
